<ng-container [ngSwitch]="object.template" #parrentContainer>
  <div class="inerrItem spaces"
       *ngSwitchCase="'spaces'"
       attr.data-template="{{object.template}}"
       attr.data-name="{{object.name}}"
       attr.data-icon="{{object.icon}}"
  >
    <div class="inerrItem__icon {{object.icon}}"></div>
    <div class="inerrItem__option">
      <button class="inerrItem__option__btn btn-setting"></button>
      <button class="inerrItem__option__btn btn-remove" (click)="deleteObject()"></button>
    </div>
  </div>
  <div class="inerrItem costume"
       *ngSwitchCase="'costume'"
       attr.data-template="{{object.template}}"
       attr.data-name="{{object.name}}"
       attr.data-icon="{{object.icon}}"
       attr.data-id="{{object.ID}}"
  >
    <div class="item-icon {{object.icon}}"></div>
    <div class="item-name">{{object.name}}</div>
    <div class="inerrItem__option">
      <button class="inerrItem__option__btn btn-setting"></button>
      <button class="inerrItem__option__btn btn-remove" (click)="deleteObject()"></button>
    </div>
  </div>
</ng-container>