<div class="fb-item" cdkDropListSortingDisabled>
  <div class="fb-item__group" *ngFor="let item of items; index as i">
    <div class="fb-item__group__header">
      <span class="fb-item__group__header__title">{{ item.group}}</span>
    </div>
    <div class="fb-item__group__body"
         cdkDropList
         cdkDropListSortingDisabled
         [cdkDropListData]="item.groupItem"
         (cdkDropListDropped)="drop($event)"
    >
      <div class="fb-item__draggable" *ngFor="let currItem of item.groupItem" cdkDrag>
        <div class="fb-item__draggable__header">
          <div class="fb-item__draggable__header__icon pi" [ngClass]="currItem.icon"></div>
          <span class="fb-item__draggable__header__name">{{currItem.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
