<div #list class="fb-item" cdkDropListSortingDisabled>
  <div class="fb-item__group"  *ngFor="let item of items; index as i">
    <div class="fb-item__group__header">
      <button class="fb-item__group__header__toggle" [attr.data-toggle-index]="i" (click)="toggleShowContent(i)"></button>
      <span class="fb-item__group__header__title">{{ item.group}}</span>
    </div>
    <div class="fb-item__group__body"
         [attr.data-content-index]="i"
         cdkDropList
         cdkDropListSortingDisabled
         [cdkDropListData]="item.groupItem"
         [cdkDropListConnectedTo]="'parrent'"
         (cdkDropListDropped)="drop($event)"
    >
      <div class="fb-item__draggable" *ngFor="let currItem of item.groupItem" cdkDrag>
        <div class="fb-item__draggable__header">
          <div class="fb-item__draggable__header__icon" [ngClass]="currItem.icon"></div>
          <span class="fb-item__draggable__header__name">{{currItem.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="fb-item__footer">
    <label class="fb-item__footer__load">
      <input type="file" accept=".json" (change)="loadConfig($event)">
      <div class="fb-item__footer__load__btn" *ngIf="!loadedFileName">
        <i class="icon-download"></i>
        <span>Загрузить справочник</span>
      </div>
      <span class="fb-item__footer__load__value" *ngIf="loadedFileName">используется {{loadedFileName}}</span>
      <span class="fb-item__footer__load__value" *ngIf="loadedFileName">ID: {{dictId}}</span>
    </label>
  </div>
</div>
