:host{
  width: 100%;
  z-index: 0;
  margin: 10px 0;
}
.inerrContainer{
  position: relative;
  z-index: 1;
  &.vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  &.horizontal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    & > *{
      margin: 0 10px;
    }
  }
}

