<div class="inerrContainer {{ orentation }}"
     attr.data-template="{{container.template}}"
     attr.data-name="{{container.name}}"
     attr.data-icon="{{container.icon}}"
>
  <div class="inerrContainer__header">
    <div class="inerrContainer__header__icon {{container.icon}}"></div>
    <span>{{ container.name }}</span>
    <div class="inerrContainer__header__option">
      <button class="inerrContainer__header__option__btn btn-setting"></button>
      <button class="inerrContainer__header__option__btn btn-remove"></button>
    </div>
  </div>
  <div class="inerrContainer__body"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListData]="currArr"
       #inerrContainer="cdkDropList"
       [cdkDropListOrientation]="orentation"
       cdkDropList
  >
    <ng-container *ngFor="let item of currArr" [ngSwitch]="item.template">
      <app-container *ngSwitchCase="'vertical'" class="dragged-container vertical" [content]="item.content" [orentation]="item.template" [container]="item" cdkDrag></app-container>
      <app-container *ngSwitchCase="'horizontal'" class="dragged-container horizontal" [content]="item.content" [orentation]="item.template" [container]="item" cdkDrag></app-container>
      <app-object *ngSwitchCase="'spaces'" class="dragged-item spaces" [object]="item" cdkDrag></app-object>
      <app-object *ngSwitchCase="'text'" class="dragged-item text" [object]="item" cdkDrag></app-object>
      <app-object *ngSwitchCase="'button'" class="dragged-item button" [object]="item" cdkDrag></app-object>
    </ng-container>
  </div>
</div>
