:host{
  width: 100%;
  z-index: 0;
  margin: 10px 0;
}
.inerrContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #C7CED5;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  &__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background: #F6F8FA;
    height: 33px;
    border-bottom: 1px solid #C7CED5;
    padding: 0 13px;
    cursor: grab;
    &__icon{
      display: block;
      width: 25px;
      height: 20px;
      position: relative;
      font-size: 12px;
      margin-right: 10px;
      &:before{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__option{
      //display: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      margin-left: auto;
      z-index: 1;
      &__btn{
        width: 25px;
        height: 25px;
        margin-left: 5px;
        background-color: #FFFFFF;
        border: 1px solid #9AA6BB;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        padding: 0;
        &:hover{
          border: 1px solid #0049C2;
        }
        &.btn{
          &-setting{
            background-image: url("../../../../assets/icon/setting.svg");
            background-repeat: no-repeat;
            background-size: 17px auto;
            background-position: center;

          }
          &-remove{
            background-image: url("../../../../assets/icon/remove.svg");
            background-repeat: no-repeat;
            background-size: 13px auto;
            background-position: center;
          }
        }
      }
    }
    &:hover{
      .inerrContainer__header__option{
        display: flex;
      }
    }
  }
  &__body{
    width: 100%;
    min-height: 20px;
    padding: 20px;
  }
  &.vertical > .inerrContainer__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  &.horizontal > .inerrContainer__body{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    & > *{
      margin: 0 10px;
    }
  }
}

