.fb{
  &-frame{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 30px;
  }
  &-item{
    width: 25%;
    min-height: 100px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 20px 15px;
    background-color: #ffffff;
    &__group{
      margin-bottom: 20px;
      width: 100%;
      background-color: #ffffff;
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      &__header{
        position: relative;
        padding: 0 50px;
        margin: 0 0 15px 0;
        &:before{
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background-color: black;
          left: 0;
          top: 50%;
        }
        &__title{
          background-color: #ffffff;
          padding: 0 5px;
          font-size: 16px;
          font-weight: 500;
          position: relative;
        }
      }
      &__body{

      }
    }
    &__draggable{
      margin-bottom: 5px;
      box-sizing: border-box;
      &__header{
        width: 100%;
        height: 30px;
        border: 1px solid #18bb7c;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0 15px;
        box-sizing: border-box;
        &__icon{
          display: block;
          width: 40px;
          height: 20px;
          background-color: rgba(128, 128, 128, 0.21);
          border: 1px dashed rgba(128, 128, 128, 1);
          margin-right: 10px;
        }
        &__name{
          font-size: 14px;
        }
      }
      &__body{
        display: none;
      }
    }

  }
  &-body{
    width: calc(50% - 40px);
    margin: 0 20px;
    min-height: 100px;
    border: 1px solid #000000;
    border-radius: 4px;
    &__container{
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &-setting{
    width: 25%;
    min-height: 100px;
    border: 1px solid #000000;
    border-radius: 4px;
  }
}

