<div class="fb-constructor" cdkDropListGroup (click)="selectItem($event)">
  <h2 class="fb-constructor__title">Конструктор форм</h2>
<!--<div class="fb-constructor">-->
  <div #parrent id="parrent" class="fb-constructor__container"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListData]="baseConstructorArr"
       [cdkDropListEnterPredicate]="blockSdkDragg"
       cdkDropList
  >
    <ng-container *ngFor="let item of baseConstructorArr" [ngSwitch]="item.template">
      <app-container *ngSwitchCase="'vertical'" class="dragged-container vertical" [content]="item.content" [orentation]="item.template" [container]="item" cdkDrag></app-container>
      <app-container *ngSwitchCase="'horizontal'" class="dragged-container horizontal" [content]="item.content"  [orentation]="item.template" [container]="item" cdkDrag></app-container>
      <app-object *ngSwitchCase="'spaces'" class="dragged-item spaces" [object]="item" cdkDrag></app-object>
      <app-object *ngSwitchCase="'costume'" class="dragged-item costume" [object]="item" cdkDrag></app-object>
    </ng-container>
  </div>
  <div class="fb-constructor__footer">
    <span class="fb-constructor__footer__dictonary-id">ID: {{dictId}}</span>
    <button class="fb-constructor__footer__btn" (click)="saveForm()">
      <i class="icon-save"></i>
      <span>Сохранить</span>
    </button>
    <button class="fb-constructor__footer__btn">
      <i class="icon-cancel"></i>
      <span>Отменить</span>
    </button>
    <label class="fb-constructor__footer__btn">
      <input type="file" accept=".json" (change)="loadConfig($event)">
      <i class="icon-download"></i>
      <span>Загрузить</span>
    </label>
    <button class="fb-constructor__footer__btn">
      <i class="icon-view"></i>
      <span>Посмотреть</span>
    </button>
  </div>
</div>
