/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
body{
  background-color: #EEF2F5;
  margin: 0;
  height: 100vh;
  app-root{
    height: 100%;
  }
}
*{
  box-sizing: border-box;
}
.icon{
  &-horizontal{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/horizontal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-vertical{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/vertical.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-spaces{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/spaces.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-text{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/text.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-title{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/h2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-sub-title{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/h3.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-button{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/button.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-number{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/number.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-checkbox{
    &:before{
      content: "";
      height: 14px;
      width: 18px;
      background-image: url("./assets/icon/checkbox.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-ratio{
    &:before{
      content: "";
      height: 14px;
      width: 18px;
      background-image: url("./assets/icon/ratio.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-select{
    &:before{
      content: "";
      height: 12px;
      width: 16px;
      background-image: url("./assets/icon/select.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-save{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/save.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-cancel{
    &:before{
      content: "";
      height: 16px;
      width: 16px;
      background-image: url("./assets/icon/cancel.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-download{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/download.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-view{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/watch.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-known{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/known.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-unknown{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/unkwnown.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-32b{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/32b.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-64b{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/64b.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-guid{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/guid.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-note{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/note.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-date{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/date.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-lookup{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/lookup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-m-loookup{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/m-lookup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-binar{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/binar.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-choice{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/choice.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-link{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/link.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-attach{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/attach.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-m-choice{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/m-choice.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-f-lookup{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/f-lookup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-decimal{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/decimal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-image{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/image.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-access{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/access.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-boolean{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/boolean.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-xml{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      background-image: url("./assets/icon/xml.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
