/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
body{
  background-color: #EEF2F5;
}
*{
  box-sizing: border-box;
}
.icon{
  &-horizontal{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/horizontal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-vertical{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/vertical.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-spaces{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/spaces.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-text{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/text.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-button{
    &:before{
      content: "";
      height: 10px;
      width: 18px;
      background-image: url("./assets/icon/button.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-number{
    &:before{
      content: "";
      height: 12px;
      width: 18px;
      background-image: url("./assets/icon/number.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-checkbox{
    &:before{
      content: "";
      height: 14px;
      width: 18px;
      background-image: url("./assets/icon/checkbox.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-ratio{
    &:before{
      content: "";
      height: 14px;
      width: 18px;
      background-image: url("./assets/icon/ratio.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-select{
    &:before{
      content: "";
      height: 12px;
      width: 16px;
      background-image: url("./assets/icon/select.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-save{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/save.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-cancel{
    &:before{
      content: "";
      height: 16px;
      width: 16px;
      background-image: url("./assets/icon/cancel.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-download{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/download.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-view{
    &:before{
      content: "";
      height: 18px;
      width: 18px;
      background-image: url("./assets/icon/watch.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
